.person-info {
  display: none;
}

.active {
  display: block;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

button {
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: #0077ff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0055cc;
}